In [1]:
some_string = "Programming in Python is quite intuitive"

type(some_string)

str

In [2]:
print(type(some_string))

<class 'str'>

In [3]:
some_number = 4

type(some_number)

int

In [4]:
print(type(some_number))

<class 'int'>

In [5]:
some_number = 4.8

type(some_number)

float

In [6]:
print(type(some_number))

<class 'float'>

In [3]:
# add a 'j' behind the number
some_complex_number = 20j

type(some_complex_number), some_complex_number

(complex, 20j)

In [4]:
# add a 'j' behind the number
some_complex_number = 20.3j

type(some_complex_number), some_complex_number

(complex, 20.3j)

In [5]:
print(type(some_complex_number))

<class 'complex'>

In [9]:
some_boolean = True

type(some_boolean)

bool

In [10]:
print(type(some_boolean))

<class 'bool'>

In [11]:
some_bytes = bytes(10)

some_bytes

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [12]:
type(some_bytes)

bytes

List is a sequence-based complex data type

In [13]:
numbers_list = [3, 5, 7, 9]

numbers_list

[3, 5, 7, 9]

In [14]:
type(numbers_list)

list

In [15]:
type(numbers_list[2])

int

Mixed lists are allowed in Python, they're not used very often

In [16]:
mixed_list = [1, 2.3, "John", False]

type(mixed_list)

list

In [17]:
type(mixed_list[1])

float

In [18]:
type(mixed_list[2])

str

To represent a record use a tuple (tuples are immutable and contain fields of different types)

In [19]:
record = ("Jane", 34, 56000, True)

record

('Jane', 34, 56000, True)

In [20]:
type(record)

tuple

In [21]:
type(record[0])

str

In [22]:
type(record[3])

bool

Used with for-loops, will look at these in more detail later

In [23]:
range_of_numbers = range(4)

range_of_numbers

range(0, 4)

In [24]:
type(range_of_numbers)

range

Sets, sets can hold data of any type

In [25]:
colors = {"red", "green", "blue"}

colors

{'blue', 'green', 'red'}

In [26]:
type(colors)

set

In [6]:
numbers = {1, 2.5, 6, 7.8}

numbers

{1, 2.5, 6, 7.8}

In [7]:
type(numbers)

set

Dictionary is a mapping type, key-value pairs

In [17]:
interview_scores = {"Alex": 4.5, "Mary": 4.8, "Jim": 3}

interview_scores

{'Alex': 4.5, 'Mary': 4.8, 'Jim': 3}

In [18]:
type(interview_scores)

dict

In [19]:
type(list(interview_scores.keys())[0]), list(interview_scores.keys())[0]

(str, 'Alex')

In [20]:
type(list(interview_scores.values())[0]), list(interview_scores.values())[0]

(float, 4.5)

In [21]:
type(list(interview_scores.items())[0]), list(interview_scores.items())[0]

(tuple, ('Alex', 4.5))

In [10]:
employees_map = {1001: "Greg House", 1002: "James Wilson", 1003: "Lisa Cuddy"}

employees_map

{1001: 'Greg House', 1002: 'James Wilson', 1003: 'Lisa Cuddy'}

In [11]:
type(employees_map)

dict

In [16]:
type(list(employees_map.keys())[0]), list(employees_map.keys())[0]

(int, 1001)

In [22]:
type(list(employees_map.values())[0]), list(employees_map.values())[0]

(str, 'Greg House')

In [23]:
type(list(employees_map.items())[0]), list(employees_map.items())[0]

(tuple, (1001, 'Greg House'))

In [28]:
# dictionary allows u to store multiple types in keys/values
employees_map2 = {"1001": "Greg House", 1002: 972, 1003: "Lisa Cuddy"}

employees_map2

{'1001': 'Greg House', 1002: 972, 1003: 'Lisa Cuddy'}

In [29]:
type(list(employees_map2.keys())[0]), list(employees_map2.keys())[0]

(str, '1001')

In [30]:
type(list(employees_map2.keys())[1]), list(employees_map2.keys())[1]

(int, 1002)

In [31]:
type(list(employees_map2.values())[0]), list(employees_map2.values())[0]

(str, 'Greg House')

In [32]:
type(list(employees_map2.values())[1]), list(employees_map2.values())[1]

(int, 972)

Converting data types using built-in functions

In [ ]:
some_string = "1000"

some_string

'1000'

In [ ]:
type(some_string)

str

In [ ]:
some_int = int(some_string)

some_int

1000

In [ ]:
type(some_int)

int

In [ ]:
some_float = float(some_string)

some_float

1000.0

In [ ]:
type(some_float)

float

In [ ]:
another_string = str(10000)

another_string

'10000'

In [ ]:
type(another_string)

str

In [ ]:
yet_another_string = str(10000.45)

yet_another_string

'10000.45'

In [ ]:
type(yet_another_string)

str

In [35]:
boolean_string = str(False)

type(boolean_string), boolean_string

(str, 'False')

In [36]:
boolean_string = str(True)

type(boolean_string), boolean_string

(str, 'True')