# Extra

| Feature | List (`[]`) | Tuple (`()`) | Set (`{}`) |
| :--- | :--- | :--- | :--- |
| **Mutability** | **Mutable** (Changeable) | **Immutable** (Unchangeable) | **Mutable** (Changeable) |
| **Order** | **Ordered** (Sequence is maintained) | **Ordered** (Sequence is maintained) | **Unordered** (No defined index/sequence) |
| **Indexing** | **Yes** (e.g., `my_list[0]`) | **Yes** (e.g., `my_tuple[0]`) | **No** (Elements retrieved one by one) |
| **Duplicates** | **Allowed** | **Allowed** | **Not Allowed** (Must contain unique elements) |
| **Adding Elements**| **Yes** (e.g., `append()`, `insert()`) | **No** (Must create a new tuple) | **Yes** (e.g., `add()`, `update()`) |

# Set
- MUTABLE - can add/update elements
- BUT their ELEMENTS (WHEN ADDING to the set) MUST BE IMMUTABLE

In [1]:
my_set = set()

my_set

set()

In [1]:
names_set = {"Mary", "Nora", "Nina", "Scott"}

names_set

{'Mary', 'Nina', 'Nora', 'Scott'}

In [2]:
type(names_set)

set

In [ ]:
# set - cannot retrieve elements using indexing
names_set[0]

TypeError: 'set' object is not subscriptable

In [ ]:
# qn: why is a set unordered but actually a set returns elements in ascending sort?
# "unordered" for a Python set means
#     the data structure does NOT PRESERVE INSERTION ORDER AND
#     the data structure does NOT SUPPORT INDEXING (e.g., my_set[0])
# Hashing: A set is built on a hash table. When an element is added, its hash value determines where it's stored in memory. This storage location is chosen for efficiency, not for maintaining a sequential order relative to other elements.
# No Indexing: Since there is no guaranteed sequence, accessing elements via an index is impossible. The primary purpose of a set is fast membership testing (element in my_set).

# Why Elements Can Appear Sorted (The Side Effect)
# The appearance of ascending order is often due to the fact that Python's hash function for numbers (integers and floats) and sometimes strings often results in a hash value that is close to the value of the object itself.
# small set: When you iterate over a small or simple set (e.g., print(set({5, 1, 3}))), Python simply walks through the structure of the hash table. If the data types and sizes are simple, the order in which Python retrieves them from these slots might just happen to be sorted.
# Key Takeaway: You should never rely on a Python set to maintain a sorted order. This behavior is implementation-dependent and can change based on Python version, the size of the set, the data types, and even factors like the insertion history or memory address of the objects.

# SO THE SET 'APPEARS' SORTED
# BUT MAY ACTUALLY NOT BE SORTED
# If you need a collection that is both unique and ordered, you should convert the set to a list and explicitly sort it: sorted(my_set).
names_set = {"Mary", "Nora", "Nina", "Scott", "Nora", "Nina"}

names_set

{'Mary', 'Nina', 'Nora', 'Scott'}

In [6]:
mixed_set = {"Alex", 10, 50.5, True}

mixed_set

{10, 50.5, 'Alex', True}

In [ ]:
# set - can have 'immutable tuple' as an element
another_mixed_set = {"Alex", 10, 50.5, True, (1,2,3)}

another_mixed_set

{(1, 2, 3), 10, 50.5, 'Alex', True}

In [ ]:
# set - can NOT have 'mutable list' as an element
# because
# set depends on hashing/hash table to add/check membership of elements
# hashing depends on immutable elements -> then calculate hash value
#         unique hash value per set element
#         store element in the hash table at that hash value's location
#         => if element changes, hash value needs to change -> then set cannot find element at the orig hash location
#         => so instead, python forbids this to happen => and requires set elements to be immutable
another_mixed_set = {"Alex", 10, 50.5, True, [1,2,3]}

another_mixed_set

TypeError: unhashable type: 'list'

In [1]:
laptop_set = {"HP", "Apple", "Dell", "Asus", "Lenovo", "MSI", "Toshiba"}

laptop_set

{'Apple', 'Asus', 'Dell', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [2]:
laptop_set.add("Genpact")

laptop_set

{'Apple', 'Asus', 'Dell', 'Genpact', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [ ]:
# 'Apple' was already in the set
# so the new 'Apple' was not added to the existing set
laptop_set.add("Apple")

laptop_set

{'Apple', 'Asus', 'Dell', 'Genpact', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [4]:
laptop_set.discard('Dell')

laptop_set

{'Apple', 'Asus', 'Genpact', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [5]:
# discard 'an element that does not exist' from a set - do nothing
laptop_set.discard('Dell')

laptop_set

{'Apple', 'Asus', 'Genpact', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [ ]:
laptop_set.remove('Lenovo')

laptop_set

{'Apple', 'Asus', 'Genpact', 'HP', 'MSI', 'Toshiba'}

In [7]:
# reove 'an element that does not exist' from a set - throw an error
laptop_set.remove('Lenovo')

laptop_set

KeyError: 'Lenovo'

In [8]:
student_set_1 = {"Anita", "Emma"}

student_set_2 = {"James", "Olivia"}

student_set_3 = {"James", "Anita"}

In [9]:
student_set_1.union(student_set_2)

{'Anita', 'Emma', 'James', 'Olivia'}

In [ ]:
# student_set_1 remains as it is
student_set_1

{'Anita', 'Emma'}

In [11]:
student_set_2.intersection(student_set_3)

{'James'}

In [ ]:
# set1 minus set3
student_set_1.difference(student_set_3)

{'Emma'}

In [13]:
# isdisjoint => mutually exclusive
{1, 2, 3}.isdisjoint({4, 5, 6})

True

In [14]:
{10, 20}.issubset({10, 20, 30})

True

In [15]:
{10, 20, 30}.issuperset({10, 20})

True

In [12]:
names_list = ["Mary", "Nora", "Nina", "Scott", "Nora", "Nina"]

names_tuple = ("Mary", "Nora", "Nina", "Scott", "Nora", "Nina")

In [ ]:
# list to set
names_list_to_set = set(names_list)

names_list_to_set

{'Mary', 'Nina', 'Nora', 'Scott'}

In [ ]:
# tuple to set
names_tuple_to_set = set(names_tuple)

names_tuple_to_set

{'Mary', 'Nina', 'Nora', 'Scott'}

### Coding practice

- Create a set of 4 colors and add 2 new colors to the set.
- Add an existing color and show that the set does not contain duplicates

In [ ]:
colours = {"red", "green", "blue", "yellow"}

In [22]:
colours.add("cyan")
colours.add("magenta")
colours

{'blue', 'cyan', 'green', 'magenta', 'red', 'yellow'}

In [ ]:
# add duplicate colours - do nothing
colours.add("cyan")
colours.add("magenta")
colours

{'blue', 'cyan', 'green', 'magenta', 'red', 'yellow'}

### Coding practice

- Create a set of 5 countries and remove one country by its name.

In [ ]:
countries = {"sg", "my", "id", "th", "vn"}

In [25]:
countries.remove("sg")

In [26]:
countries

{'id', 'my', 'th', 'vn'}

### Coding practice

- Create two sets of 3 car brands each 
- Find the union of these sets
- Find the intersection
- Find the difference

In [28]:
cars1 = {"bougie", "bm", "merc", "volvo"}
cars2 = {"byd", "tesla", "volvo"}

In [29]:
cars1.union(cars2)

{'bm', 'bougie', 'byd', 'merc', 'tesla', 'volvo'}

In [30]:
cars1.intersection(cars2)

{'volvo'}

In [32]:
cars2.difference(cars1)

{'byd', 'tesla'}