In [1]:
name = "James Bond"
# string - stored character by character
# |J|a|m|e|s| |B|o|n|d|
#  0 1 2 3 4 5 6 7 8 9

name

'James Bond'

In [ ]:
# using 0-based indexing
# ie index starts from '0'
name[0]

'J'

### Whiteboard

- Use the whiteboard to teach string indexing

In [3]:
name[1]

'a'

In [2]:
name[5]

' '

In [4]:
name[6]

'B'

In [ ]:
# last character
name[-1]

'd'

In [6]:
name[-2]

'n'

In [7]:
name_length = len(name)

name_length

10

In [8]:
name[name_length - 1]

'd'

In [ ]:
# accessing beyond the length of a string
name[name_length]

IndexError: string index out of range

In [ ]:
# string is immutable
# so cant update character in-place
name[2] = "n"

TypeError: 'str' object does not support item assignment

In [4]:
a, b, c, d, e, f, g, h, i, j = name

In [5]:
a

'J'

In [6]:
b

'a'

In [7]:
c

'm'

In [8]:
i

'n'

In [9]:
j

'd'

In [10]:
a, b, c, d, e = name

ValueError: too many values to unpack (expected 5)

In [11]:
a, b, c, _, _, _, _, _, _, _ = name

In [12]:
a

'J'

In [13]:
b

'a'

In [14]:
c

'm'

In [16]:
_

'm'

### String slicing

In [20]:
name[:5]

'James'

In [17]:
name[0:5]

'James'

In [21]:
name[:3]

'Jam'

In [22]:
name[6:]

'Bond'

In [23]:
name[3:]

'es Bond'

In [24]:
name[1:4]

'ame'

In [25]:
name[3:7]

'es B'

In [ ]:
# recall how variable looks
name

'James Bond'

In [ ]:
# start_idx : end_idx : step (default step 1)
name[3::]

'es Bond'

In [ ]:
# start_idx : end_idx : step (default step 1)
name[:4:]

'Jame'

In [ ]:
# start_idx : end_idx : step (default step 1)
name[::1]

'James Bond'

In [ ]:
# 'James Bond'
#  x x x x x
# start_idx : end_idx : step 2
name[::2]

'JmsBn'

In [ ]:
# 'James Bond'
#  x  x  x  x
# start_idx : end_idx : step 3
name[::3]

'JeBd'

In [ ]:
# start_idx : end_idx : step -1 (i.e. go in reverse)
name[::-1]

'dnoB semaJ'

### String functions

- Note that the original string is not changed

In [32]:
name.startswith("Jam")

True

In [33]:
name.endswith("bond")

False

In [21]:
name.endswith("Bond")

True

In [19]:
name.endswith("d")

True

In [34]:
name.count("J")

1

In [22]:
name = "Ella Fitzgerald"

name.count("a")

2

In [24]:
name.count("ll")

1

In [36]:
lower_name = name.lower()

lower_name

'ella fitzgerald'

In [37]:
name

'Ella Fitzgerald'

In [38]:
upper_name = name.upper()

upper_name

'ELLA FITZGERALD'

In [39]:
name

'Ella Fitzgerald'

In [40]:
new_name = name.replace("Ella", "Emma")

new_name

'Emma Fitzgerald'

In [41]:
name

'Ella Fitzgerald'

In [42]:
some_string_with_spaces = "    Spaces before and after.   "

print("***" + some_string_with_spaces + "***")

***    Spaces before and after.   ***

In [ ]:
# remove/strip whitespace from the left
print("***" + some_string_with_spaces.lstrip() + "***")

***Spaces before and after.   ***

In [ ]:
# remove/strip whitespace from the right
print("***" + some_string_with_spaces.rstrip() + "***")

***    Spaces before and after.***

In [ ]:
# remove/strip whitespace from BOTH left AND right
print("***" + some_string_with_spaces.strip() + "***")

***Spaces before and after.***

### Other string operations

In [46]:
first_name = "John"
last_name = "Doe"

full_name = first_name + " " + last_name

print(full_name)

John Doe

In [ ]:
# multiply the string 3 times
echo = "Howdy! " * 3

print(echo)

Howdy! Howdy! Howdy!

In [48]:
print("***" * 5)

***************

In [49]:
sentence = "Python is a fun programming language!"

In [50]:
"fun" in sentence

True

In [51]:
"Python" in sentence

True

In [ ]:
# case sensitive
"python" in sentence

False

In [53]:
"python" in sentence.lower()

True

In [ ]:
# split on whitespace (by default)
words = sentence.split()

words

['Python', 'is', 'a', 'fun', 'programming', 'language!']

In [55]:
recreated_sentence = " ".join(words)

print(recreated_sentence)

Python is a fun programming language!

In [56]:
recreated_sentence = "|".join(words)

print(recreated_sentence)

Python|is|a|fun|programming|language!

### Coding Practice

- Use the input() function to ask the user for their first name and last name, then print the concatenated full name.

### Coding Practice

- Assign a string to the variable word (any string).
- Print the first and last characters of the string using indexing.
- Slice and print the first three characters 
- Slice and print the last three characters of the string.

### Coding Practice

- Use the input() function to get a string from the user.
- Print the length of the string using the len() function.
- Convert the string to uppercase and lowercase, and print the results.

### Coding Practice

- Use the input() function to ask the user for their name and age.
- Print a formatted string that says "Hello, [name]! You are [age] years old." using f-strings.
- Try the same exercise using the format() method.