Tuples are ordered collections (like lists) **but are immutable**
* **ordered => can use indexes** to access list/tuple elements

In [3]:
my_tuple = ()

my_tuple

()

In [4]:
type(my_tuple)

tuple

In [1]:
integer_tuple = (100, 200, 300, 400)

integer_tuple

(100, 200, 300, 400)

In [6]:
# tuple is immutable - cant change an element
integer_tuple[0] = 123

TypeError: 'tuple' object does not support item assignment

In [7]:
# cannot sort/add to/append to/delete element from a tuple
integer_tuple[5] = 456

TypeError: 'tuple' object does not support item assignment

In [7]:
integer_tuple[0]

100

In [8]:
integer_tuple[3]

400

In [9]:
integer_tuple[4]

IndexError: tuple index out of range

In [2]:
float_tuple = (100.4, 23.34, 302.98, 400.00001)

float_tuple

(100.4, 23.34, 302.98, 400.00001)

In [3]:
len(float_tuple)

4

In [4]:
max(float_tuple)

400.00001

In [5]:
min(float_tuple)

23.34

In [8]:
names_tuple = ("Charles", "Darwin", "Emily", "Fiona", "Greg")

names_tuple

('Charles', 'Darwin', 'Emily', 'Fiona', 'Greg')

In [9]:
boolean_tuple = (True, True, False, True)

boolean_tuple

(True, True, False, True)

In [10]:
mixed_tuple = ("James", 3, 5.6, False)

mixed_tuple

('James', 3, 5.6, False)

In [13]:
names_tuple[:2]

('Charles', 'Darwin')

In [14]:
names_tuple[3:]

('Fiona', 'Greg')

In [17]:
names_tuple[::2]

('Charles', 'Emily', 'Greg')

In [ ]:
# tuple is immutable
names_tuple[0] = "Robert"

TypeError: 'tuple' object does not support item assignment

In [11]:
# recall what is in the variable
names_tuple

('Charles', 'Darwin', 'Emily', 'Fiona', 'Greg')

In [12]:
"Darwin" in names_tuple

True

In [14]:
"darwin" in names_tuple

False

In [13]:
"darwin" not in names_tuple

True

In [23]:
names_list = list(names_tuple)

names_list

['Charles', 'Darwin', 'Emily', 'Fiona', 'Greg']

In [24]:
games_list = ['Badminton', 'Golf', 'Basketball', 'Tennis']

games_list

['Badminton', 'Golf', 'Basketball', 'Tennis']

In [25]:
games_tuple = tuple(games_list)

games_tuple

('Badminton', 'Golf', 'Basketball', 'Tennis')

### Coding practice

- Create a tuple with letters of the alphabet and check to see whether certain alphabets are present in the list e.g. a, x, g, h

Unpacking tuples

In [1]:
point = (5, 10, 15)

In [2]:
point[0], point[1], point[2]

(5, 10, 15)

In [3]:
x, y, z = point

print("x =", x)
print("y =", y)
print("z =", z)

x = 5
y = 10
z = 15

### Coding practice

- Create a tuple with 4 values (representing cities) and unpack them into separate variables, one for each city

In [15]:
city = ('my', 'sg', 'id', 'th')
a, b, c, d = city
a, b, c, d

('my', 'sg', 'id', 'th')