### Built-in functions

- Part of the core Python programming language
- Do not need any additional import statements to use
- Functions defined in the global namespace
- Do not name variables with the same name as built-in functions

In [ ]:
# built-in fns
len, sum, min, max, abs, round, type, print

### print()

In [8]:
print

In [9]:
print()

In [10]:
print("This is a beautiful day!")

This is a beautiful day!

In [11]:
result = 2 + 45

print("The final result is", result)

The final result is 47

In [12]:
print("The final result is", result, sep=":")

The final result is:47

In [13]:
print("Good morning", "Jill", sep="-")

Good morning-Jill

Default end is the newline character

In [14]:
print("Hello")
print("World!")

Hello
World!

In [15]:
print("Hello", end=" ")
print("World!")

Hello World!

In [16]:
# end with '*' instead of newline '\n'
print("The final result is", result, sep=":", end="*")
print("This should be after the asterisk")

The final result is:47*This should be after the asterisk

The print statement used to be supported in Python 2 but is no longer supported in Python 3. Python 3 only supports the print() function

In [17]:
# python2 'print' syntax
print "This is a beautiful day!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3187775492.py, line 2)

In [ ]:
print("The final result is: ", 56 + 25)

The final result is:  81

In [ ]:
print("The final result is: ", (56 + 25) / 9)

The final result is:  9.0

Special characters

In [ ]:
print("Hello\nWorld!")

print("Name:\tAlice")

Hello
World!
Name:	Alice

In [ ]:
print("Hello, {}. You are {} years old.".format("Bob", 25))

Hello, Bob. You are 25 years old.

In [ ]:
print("Hello, {}. You are {} years old.".format("Bob", 25, "Math"))

Hello, Bob. You are 25 years old.

In [ ]:
print("Hello, {}. You are years old.".format("Bob", 25))

Hello, Bob. You are years old.

In [ ]:
print("Hello, {}. You are {} years old and you study {}.".format("Bob", 25, "Math"))

Hello, Bob. You are 25 years old and you study Math.

In [ ]:
# print out the curly braces '{}' literally
print("Hello, {}. You are {} years old and you study {}.")

Hello, {}. You are {} years old and you study {}.

In [ ]:
name = "Bob"
age = 25
major = "Math"

In [ ]:
# f-string / formatted string
print(f"Hi, {name}, you specified your age as {age}")

Hi, Bob, you specified your age as 25

In [ ]:
# not f-string
print("Hi, {name}, you specified your age as {age}")

Hi, {name}, you specified your age as {age}

In [ ]:
# f-string
print(f"Hi, {name}, your major is {major}")

Hi, Bob, your major is Math

print() does not return anything

In [ ]:
result = print("something")

something

In [ ]:
result

In [ ]:
type(result)

NoneType

In [ ]:
# 'print' does not return a value
# so it returns NoneType
result == None

True

In [ ]:
result is None

True

### ChatGPT

- What are the various ways in which you could use the print() function in Python?

### type()

In [ ]:
type("This is a string")

str

In [ ]:
type(23)

int

In [ ]:
type(23.5)

float

In [ ]:
type(True)

bool

In [ ]:
result = type("string")

result

str

In [ ]:
type(result)

type

In [ ]:
print(type(result))

<class 'type'>

### ChatGPT

- What does the type() function in Python return?

### len()

In [ ]:
len("Python is an interpreted language")

33

In [ ]:
len("Python is an untyped language")

29

In [ ]:
number_list = [10, 20, 30, 40]

len(number_list)

4

In [ ]:
length_of_string = len("What is the length of this string?")

length_of_string

34

### min() and max()

In [ ]:
min(5.7, 9, 2.8, 29, -4)

-4

In [ ]:
max(5.7, 9, 2.8, 29, -4, 45)

45

In [ ]:
number_list = [20, 34, 12, 90, 101, 12]

number_list

[20, 34, 12, 90, 101, 12]

In [ ]:
min(number_list)

12

In [26]:
max(number_list)

101

In [33]:
num_min = min(number_list)

num_max = max(number_list)

print(f"The minimum value is {num_min} and maximum value is {num_max}")

The minimum value is 12 and maximum value is 101

### round() and abs()

In [1]:
round(6.6)

7

In [2]:
round(6.3)

6

In [3]:
round(-5.6)

-6

In [19]:
# in python3 - round 'x.5' to the nearest even number from 'x'
round(1.5), round(2.5), round(3.5), round(4.5)

(2, 2, 4, 4)

In [4]:
abs(4.5)

4.5

In [5]:
abs(-4.5)

4.5

In [ ]:
# override abs() fn with an 'abs' variable
abs = "assign some value to the abs variable"

abs

'assign some value to the abs variable'

In [7]:
abs(-4.5)

TypeError: 'str' object is not callable

In [8]:
abs = 34

abs(-4.5)

TypeError: 'int' object is not callable

### Type conversion functions

In [9]:
value = "35"

print("Value: ", value)

type(value)

Value:  35

str

In [10]:
int_value = int("44")

print("Integer value: ", int_value)

type(int_value)

Integer value:  44

int

In [11]:
int_value = int(value)

print("Integer value: ", int_value)

Integer value:  35

In [12]:
value = "2.345"

float_value = float(value)

print("Float value: ", float_value)

type(float_value)

Float value:  2.345

float

In [ ]:
# convert int '0' to boolean
result = bool(0)

result

False

In [ ]:
# convert int '1' to boolean
result = bool(1)

result

True

In [ ]:
# convert non-'0' int to 'True' boolean
result = bool(50098)

result

True

In [ ]:
# convert non-'0' int to 'True' boolean
result = bool(-1)

result

True

In [ ]:
# convert non-empty str to 'True' boolean
result = bool("string")

result

True

In [ ]:
# convert empty '' str to 'False' boolean
result = bool("")

result

False

### input()

In [ ]:
# user input
favorite_color = input()

blue

In [20]:
favorite_color

'blue'

In [21]:
favorite_color = input("Please enter your favorite color: ")

favorite_color

Please enter your favorite color: red

'red'

In [22]:
age = input("How old are you? ")

age

How old are you? 45

'45'

In [23]:
type(age)

str

### Coding Practice

- Try this with an invalid input i.e a string

In [ ]:
age = input("How old are you? ")

# from user input
# convert the variable's data type from 'integer str' to int
age = int(age)

type(age)

How old are you? 77

int

### Coding Practice

- Accept a name at the input
- Print out the message "Good evening Alice!"

In [28]:
name = input("Please enter your name: ")

print(f"Good evening {name}!")

Please enter your name: Alice
Good evening Alice!

### Coding Practice

- Ask the user to enter two numbers (one at a time)
- Print out the sum of the two numbers
- Remember to convert the numbers from string to integers (or floats)

In [29]:
num_a = float(input("Enter the first number: "))

num_b = float(input("Enter the second number: "))

print(f"{num_a} + {num_b} = {num_a + num_b}")

Enter the first number: 34
Enter the second number: 56.2
34.0 + 56.2 = 90.2

### Coding Practice

- Ask the user to enter their bank balance
- Increment their bank balance by 10%
- Print out the result to screen

In [30]:
balance = float(input("Please enter your bank balance: "))

balance += 0.1 * balance

print(f"Here is your new updated balance {balance}")

Please enter your bank balance: 100
Here is your new updated balance 110.0