In [1]:
my_list = []

In [2]:
print(my_list)

[]

In [3]:
empty_list = list()

empty_list

[]

In [4]:
games_list = ['Badminton', 'Golf', 'Basketball', 'Tennis']

games_list

['Badminton', 'Golf', 'Basketball', 'Tennis']

In [5]:
type(games_list)

list

In [6]:
games_list[0]

'Badminton'

In [7]:
games_list[1]

'Golf'

In [8]:
games_list[3]

'Tennis'

In [9]:
games_list[4]

IndexError: list index out of range

In [10]:
games_list

['Badminton', 'Golf', 'Basketball', 'Tennis']

In [11]:
games_list[-1]

'Tennis'

In [12]:
games_list[-2]

'Basketball'

In [13]:
games_list[-4]

'Badminton'

In [14]:
games_list[-5]

IndexError: list index out of range

In [15]:
integers_list = [10, 20, 30, 40, 50]

integers_list

[10, 20, 30, 40, 50]

In [16]:
float_list = [5.7, 6.5, 90.2, 82.8, 3.5, 9.0]

float_list

[5.7, 6.5, 90.2, 82.8, 3.5, 9.0]

In [17]:
boolean_list = [True, False, True, False]

boolean_list

[True, False, True, False]

In [18]:
len(games_list)

4

In [19]:
len(integers_list)

5

Not used very often, but it is possible to have lists with different type of data

In [20]:
mixed_list = ["Nancy", "Peter", 12, 13, 4.5, 9.8, True, False]

mixed_list

['Nancy', 'Peter', 12, 13, 4.5, 9.8, True, False]

In [21]:
len(mixed_list)

8

In [22]:
games_list

['Badminton', 'Golf', 'Basketball', 'Tennis']

In [ ]:
# lists are mutable
# so we can change an element in a list
games_list[0] = "Soccer"

games_list

['Soccer', 'Golf', 'Basketball', 'Tennis']

In [24]:
games_list[3] = "Table Tennis"

games_list

['Soccer', 'Golf', 'Basketball', 'Table Tennis']

In [25]:
integers_list

[10, 20, 30, 40, 50]

In [26]:
integers_list[1] += 100

integers_list

[10, 120, 30, 40, 50]

In [27]:
integers_list[4] *= 10

integers_list

[10, 120, 30, 40, 500]

In [30]:
fruit_list = ["apples", "bananas", "pears", "mangoes", "apples"]

fruit_list

['apples', 'bananas', 'pears', 'mangoes', 'apples']

In [31]:
integers_list

[10, 120, 30, 40, 500]

In [ ]:
min(integers_list)

10

In [32]:
sum(integers_list)

700

In [33]:
float_list

[5.7, 6.5, 90.2, 82.8, 3.5, 9.0]

In [34]:
max(float_list)

90.2

#### List slicing

In [53]:
games_list = ['Soccer', 'Golf', 'Basketball', 'Table Tennis', "Tennis", "Skating"]

games_list

['Soccer', 'Golf', 'Basketball', 'Table Tennis', 'Tennis', 'Skating']

In [54]:
games_list[0:2]

['Soccer', 'Golf']

In [55]:
games_list[1:4]

['Golf', 'Basketball', 'Table Tennis']

In [59]:
games_list[1:6]

['Golf', 'Basketball', 'Table Tennis', 'Tennis', 'Skating']

Specify a step in the list slice operation

In [ ]:
# start_idx, stop_idx, step
games_list[1:6:1]

['Golf', 'Basketball', 'Table Tennis', 'Tennis', 'Skating']

In [61]:
games_list[1:6:2]

['Golf', 'Table Tennis', 'Skating']

In [62]:
games_list[1:6:3]

['Golf', 'Tennis']

In [63]:
games_list[:4]

['Soccer', 'Golf', 'Basketball', 'Table Tennis']

In [64]:
games_list[2:]

['Basketball', 'Table Tennis', 'Tennis', 'Skating']

In [65]:
games_list[:]

['Soccer', 'Golf', 'Basketball', 'Table Tennis', 'Tennis', 'Skating']

In [66]:
games_list[::]

['Soccer', 'Golf', 'Basketball', 'Table Tennis', 'Tennis', 'Skating']

In [67]:
games_list[:-1]

['Soccer', 'Golf', 'Basketball', 'Table Tennis', 'Tennis']

In [ ]:
# ['Soccer', 'Golf', 'Basketball', 'Table Tennis', 'Tennis', 'Skating']
#   -6        -5       -4              -3              -2        -1
#             x         x              x               x      up to but not incl
games_list[-5:-1]

['Golf', 'Basketball', 'Table Tennis', 'Tennis']

Reverse a list. Many complex operations possible, not shown here

In [72]:
games_list[::-1]

['Skating', 'Tennis', 'Table Tennis', 'Basketball', 'Golf', 'Soccer']

# Unpack a list

In [ ]:
point = [5, 10, 15.]
x, y, z = point

x, y, z

(5, 10, 15.0)

In [2]:
point[0], point[1], point[2]

(5, 10, 15.0)