In [21]:
# literal => i.e. the item itself
50000

50000

In [5]:
50000 - 15000

35000

In [6]:
35000 + 8000

43000

In [7]:
salary = 50000

In [8]:
salary

50000

In [9]:
print(salary)

50000

In [10]:
name = "Nora Jones"

print(name)

Nora Jones

In [ ]:
# define variable, then call it
# otherwise we see the error below
age

NameError: name 'age' is not defined

### ChatGPT

- Show how you can paste in errors to ChatGPT and get responses

In [12]:
age = 25

Age = 35

AGE = 45

_age = 55

age_1 = 65

In [13]:
print("age: ", age)
print("Age: ", Age)
print("AGE: ", AGE)
print("_age: ", _age)
print("age_1: ", age_1)

age:  25
Age:  35
AGE:  45
_age:  55
age_1:  65

In [ ]:
# cannot start variable name with number
1_age = 25

SyntaxError: invalid decimal literal (2552566879.py, line 1)

In [ ]:
# cannot start variable name with non-'_' symbol
-age = 25

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2536639518.py, line 1)

In [16]:
a = 88

b = 56

c = 101

In [17]:
print(a, b, c)

88 56 101

Can reuse variables - new value will replace the old value in the variable

In [18]:
result_sum = a + b

result_sum

144

In [ ]:
result_sum = b + c

result_sum

157

In [ ]:
print(result_sum)

157

In [ ]:
income_tax = 5000

retirement_contribution = 1800

professional_tax = 300

In [ ]:
net_salary = salary - (income_tax + retirement_contribution + professional_tax)

net_salary

42900

### Coding Practice

- Initialize 3 variables with student's scores for math, english, science
- Compute the total score and store it in a new variable
- Print out the value of the total score
- Compute the average score and store in a variable
- Print out the value of the average score

In [ ]:
math_score = 89

english_score = 75

science_score = 93

In [ ]:
total_score = math_score + english_score + science_score

print("Total score: ", total_score)

Total score:  257

In [ ]:
average_score = (math_score + english_score + science_score) / 3

print("Average score: ", average_score)

Average score:  85.66666666666667

In [ ]:
first_name = "James"

last_name = "Bond"

In [ ]:
first_name + last_name

'JamesBond'

In [ ]:
full_name = first_name + " " + last_name

full_name

'James Bond'

In [ ]:
# assign the same value to all 3 variables
# at the same time
salary_joe = salary_cara = salary_rob = 10000

In [ ]:
salary_joe

10000

In [ ]:
salary_cara

10000

In [ ]:
salary_rob

10000

In [ ]:
salary_rob == salary_cara

True

In [ ]:
salary_joe = salary_joe + 1000

salary_joe

11000

In [ ]:
salary_cara, salary_rob

(10000, 10000)

In [ ]:
salary_cara = salary_cara * 1.12

salary_cara

11200.000000000002

In [ ]:
salary_joe, salary_rob

(11000, 10000)

In [ ]:
salary_rob = salary_rob - salary_rob * 0.03

salary_rob

9700.0

In [ ]:
# salaries changed - no longer matching
salary_rob == salary_cara

False

### Coding Practice

- Assign bank balances to Nancy, Derek, and Marlene
- Bank balances should have the same value i.e. 5000
- Nancy withdraws 100
- Derek makes a deposit equal to 5% of his existing balance
- Marlene withdraws 500 and then deposits 20% of the new balance (after 200 was withdrawn)
- Show all of these operations in code and print out the resulting balances

In [ ]:
balance_nancy = 5000
balance_derek = 5000
balance_marlene = 5000

In [ ]:
balance_nancy = balance_derek = balance_marlene = 5000

In [ ]:
balance_nancy = balance_nancy - 100

print("Nancy's balance after withdrawal: ", balance_nancy)

Nancy's balance after withdrawal:  4900

In [ ]:
balance_derek = balance_derek - 0.05 * balance_derek

print("Derek's balance after deposit: ", balance_derek)

Derek's balance after deposit:  4750.0

In [ ]:
balance_marlene = balance_marlene - 500

balance_marlene = balance_marlene + 0.2 * balance_marlene

print("Marlene's balance after withdrawal and deposit: ", balance_marlene)

Marlene's balance after withdrawal and deposit:  5400.0

### Data Types

In [ ]:
# int
score = 78

# float
gpa = 3.7

# bool
is_active = True

# str
name = "Charles"

In [ ]:
print("Score: ", score)
print("GPA: ", gpa)
print("Is active: ", is_active)
print("Name: ", name)

Score:  78
GPA:  3.7
Is active:  True
Name:  Charles

In [ ]:
type(score)

int

In [ ]:
type(gpa)

float

In [ ]:
type(is_active)

bool

In [ ]:
type(name)

str

In [ ]:
result = score + gpa

print("The final result is: ", result)

The final result is:  81.7

In [ ]:
result = score + is_active

print("The final result is: ", result)

The final result is:  79

In [ ]:
result = score + True

print("The final result is: ", result)

The final result is:  79

In [ ]:
result = score + False

print("The final result is: ", result)

The final result is:  78

In [ ]:
result = score + name

print("The final result is: ", result)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Multiple variable assignments

In [ ]:
score, gpa, is_active, name = 52, 3.2, False, "Dora"

### ChatGPT

- Ask ChatGPT what this code does

In [ ]:
print("Score: ", score)
print("GPA: ", gpa)
print("Is active: ", is_active)
print("Name: ", name)

Score:  52
GPA:  3.2
Is active:  False
Name:  Dora

In [ ]:
score, gpa, is_active, name = "Dora", False, 52, 3.2

In [ ]:
print("Score: ", score)
print("GPA: ", gpa)
print("Is active: ", is_active)
print("Name: ", name)

Score:  Dora
GPA:  False
Is active:  52
Name:  3.2

### Assignment operators

In [ ]:
number = 10

number

10

In [ ]:
number = number + 100

number

110

In [ ]:
number += 100

number

210

In [ ]:
number = number * 2

number

420

In [ ]:
number *= 2

number

840

In [ ]:
number = number / 3

number

280.0

In [ ]:
number /= 3

number

93.33333333333333

In [ ]:
number = number - 10

number

83.33333333333333

In [ ]:
number -= 10

number

73.33333333333333

In [ ]:
# during division
# get the integer / what is on the left-hand-side
#     without the remainder
number = number // 5

number

14.0

In [ ]:
# during division
# get the integer / what is on the left-hand-side
#     without the remainder
number //= 5

number

2.0

In [ ]:
number = 35

# remainder
number = number % 6

number

5

In [ ]:
number = 35

# remainder
number %= 6

number

5

In [ ]:
number = 3

number = number ** 4

number

81

In [ ]:
number = 3

number **= 4

number

81

In [ ]:
first_name

'James'

In [ ]:
salary_cara

11200.000000000002

In [ ]:
# delete variable
# so we cant retrive what was in that variable again
del first_name

first_name

NameError: name 'first_name' is not defined

In [ ]:
del salary_cara

salary_cara

NameError: name 'salary_cara' is not defined

### NoneType

In [22]:
variable = None

In [23]:
type(variable)

NoneType

In [24]:
variable == None

True

In [25]:
variable is None

True

In [27]:
None == None

True

In [28]:
None is None

True

In [29]:
None != None

False

In [30]:
None is not None

False