## Lists

In [1]:
empty_list = []

print("Empty list: %s" % empty_list)

Empty list: []

In [2]:
empty_list = list()

print("Empty list: %s" % empty_list)

Empty list: []

In [32]:
countries_list = ["United States", "France", "India", "Japan"]

countries_list

['United States', 'France', 'India', 'Japan']

In [47]:
type(countries_list)

list

In [33]:
countries_list[0]

'United States'

In [34]:
countries_list[1]

'France'

In [35]:
countries_list[-1]

'Japan'

In [55]:
countries_list[2] = "INDIA"

countries_list

['Japan', 'Germany', 'INDIA', 'France', 'Germany', 'Spain']

In [37]:
countries_list.append("Singapore")

countries_list

['United States', 'France', 'India', 'Japan', 'Singapore']

Note duplicates

In [38]:
new_countries = ["France", "Germany", "Spain"]

countries_list.extend(new_countries)

countries_list

['United States',
 'France',
 'India',
 'Japan',
 'Singapore',
 'France',
 'Germany',
 'Spain']

In [39]:
countries_list.remove("INDIA")

countries_list

['United States', 'France', 'Japan', 'Singapore', 'France', 'Germany', 'Spain']

In [40]:
removed_country = countries_list.pop(1)

removed_country

'France'

In [41]:
countries_list

['United States', 'Japan', 'Singapore', 'France', 'Germany', 'Spain']

In [42]:
del countries_list[0]

countries_list

['Japan', 'Singapore', 'France', 'Germany', 'Spain']

In [43]:
countries_list.insert(1, "Germany")

countries_list

['Japan', 'Germany', 'Singapore', 'France', 'Germany', 'Spain']

#### Integer list

In [44]:
student_ages = [23, 17, 19, 25, 34, 18]

student_ages

[23, 17, 19, 25, 34, 18]

#### Float list

In [46]:
student_gpas = [2.1, 3.3, 4.0, 3.7, 2.9]

student_gpas

[2.1, 3.3, 4.0, 3.7, 2.9]

#### Mixed list

In [45]:
doris_record = ["Doris", 23, 3.3, True, "Columbia University"]

doris_record

['Doris', 23, 3.3, True, 'Columbia University']

## Tuples

In [49]:
empty_tuple = ()

print(f"Empty tuple: {empty_tuple}")

Empty tuple: ()

In [50]:
empty_tuple = tuple()

print(f"Empty tuple: {empty_tuple}")

Empty tuple: ()

In [51]:
type(empty_tuple)

tuple

In [52]:
tech_companies = ("Apple", "Google", "Microsoft", "Tesla", "Meta")

tech_companies

('Apple', 'Google', 'Microsoft', 'Tesla', 'Meta')

In [53]:
tech_companies[1]

'Google'

In [54]:
tech_companies[-2]

'Tesla'

In [56]:
tech_companies[2] = "MSFT"

tech_companies

TypeError: 'tuple' object does not support item assignment

## Sets

In [57]:
empty_set = set()

empty_set

set()

In [58]:
type(empty_set)

set

In [61]:
numbers_list = [100, 200, 300, 400, 500, 200, 500]

numbers_list

[100, 200, 300, 400, 500, 200, 500]

In [62]:
numbers_set = {100, 200, 300, 400, 500, 200, 500}

numbers_set

{100, 200, 300, 400, 500}

In [63]:
numbers_set.add(1000)
numbers_set.add(100)

numbers_set

{100, 200, 300, 400, 500, 1000}

In [64]:
numbers_set.remove(300)

numbers_set

{100, 200, 400, 500, 1000}

Use discard() if you do not want the error

In [65]:
numbers_set.remove(300)

numbers_set

KeyError: 300

In [68]:
multiples_of_5 = {5, 10, 15, 20, 25, 30, 35, 40}

multiples_of_10 = {10, 20, 30, 40, 50, 60}

In [69]:
union = multiples_of_5 | multiples_of_10

union

{5, 10, 15, 20, 25, 30, 35, 40, 50, 60}

In [70]:
union = multiples_of_5.union(multiples_of_10)

union

{5, 10, 15, 20, 25, 30, 35, 40, 50, 60}

In [71]:
intersection = multiples_of_5 & multiples_of_10

intersection

{10, 20, 30, 40}

In [72]:
difference = multiples_of_5 - multiples_of_10

difference

{5, 15, 25, 35}

In [73]:
symmetric_difference = multiples_of_5 ^ multiples_of_10

symmetric_difference

{5, 15, 25, 35, 50, 60}

In [74]:
multiples_of_5.isdisjoint(multiples_of_10)

False

## Dictionaries

In [75]:
empty_dict = {}

empty_dict

{}

In [76]:
empty_dict = dict()

empty_dict

{}

In [77]:
type(empty_dict)

dict

In [79]:
student_math_scores = {
    'James': 89,
    'Nora': 55,
    'Janet': 96,
    'Richard': 43
}

student_math_scores

{'James': 89, 'Nora': 55, 'Janet': 96, 'Richard': 43}

In [80]:
student_math_scores['Nora']

55

In [81]:
student_math_scores['John']

KeyError: 'John'

In [82]:
student_math_scores['Nora'] = 65

student_math_scores

{'James': 89, 'Nora': 65, 'Janet': 96, 'Richard': 43}

In [83]:
student_math_scores['Richard'] *= 1.1

student_math_scores

{'James': 89, 'Nora': 65, 'Janet': 96, 'Richard': 47.300000000000004}

In [84]:
student_math_scores['Julian'] = 72

student_math_scores

{'James': 89,
 'Nora': 65,
 'Janet': 96,
 'Richard': 47.300000000000004,
 'Julian': 72}

In [85]:
student_math_scores.keys()

dict_keys(['James', 'Nora', 'Janet', 'Richard', 'Julian'])

In [86]:
student_math_scores.values()

dict_values([89, 65, 96, 47.300000000000004, 72])

In [87]:
del student_math_scores['Richard']

student_math_scores

{'James': 89, 'Nora': 65, 'Janet': 96, 'Julian': 72}

A dictionary can contain any values

In [88]:
student_info = {
    'James': 89,
    'Nora': 3.4,
    'Janet': [44, 78, 90],
    'Richard': "21, Erden Street, Boston, MA"
}

student_info

{'James': 89,
 'Nora': 3.4,
 'Janet': [44, 78, 90],
 'Richard': '21, Erden Street, Boston, MA'}

In [89]:
student_info = {
    11: 'Nora',
    22: 'Julian',
    33: 'Desmond',
    44: 'Clarice'
}

student_info

{11: 'Nora', 22: 'Julian', 33: 'Desmond', 44: 'Clarice'}

In [91]:
student_info = {
    (11, 'a'): 'Nora',
    (22, 'b'): 'Julian',
    (33, 'c'): 'Desmond',
    (44, 'a'): 'Clarice'
}

student_info

{(11, 'a'): 'Nora',
 (22, 'b'): 'Julian',
 (33, 'c'): 'Desmond',
 (44, 'a'): 'Clarice'}

In [92]:
student_info = {
    [11, 'a']: 'Nora',
    [22, 'b']: 'Julian',
    [33, 'c']: 'Desmond',
    [44, 'a']: 'Clarice'
}

student_info

TypeError: unhashable type: 'list'

In [94]:
# Create a dictionary
# Keys - student names
# Values - student scores in math, english, and science
student_scores = {
    'Alice': {'math': 90, 'english': 85, 'science': 92},
    'Bob': {'math': 80, 'english': 75, 'science': 88},
    'Charlie': {'math': 95, 'english': 92, 'science': 90}
}

student_scores

{'Alice': {'math': 90, 'english': 85, 'science': 92},
 'Bob': {'math': 80, 'english': 75, 'science': 88},
 'Charlie': {'math': 95, 'english': 92, 'science': 90}}

In [95]:
student_scores['Alice']['math']

90

In [96]:
student_scores['Bob']['english'] = 100

student_scores

{'Alice': {'math': 90, 'english': 85, 'science': 92},
 'Bob': {'math': 80, 'english': 100, 'science': 88},
 'Charlie': {'math': 95, 'english': 92, 'science': 90}}