In [2]:
num_1 = 50

In [3]:
num_1

50

In [4]:
num_2 = 124

In [5]:
num_2

124

In [6]:
num_1 + num_2

174

In [7]:
num_notexists

NameError: name 'num_notexists' is not defined

In [9]:
num_notexists = 42  # Assign a value to num_notexists

print(num_notexists)  # Now you can use it without error

42

In [10]:
some_var = 1001

print(some_var)

1001

In [11]:
some_var = "Mango"

print(some_var)

Mango

In [13]:
# Assign an integer value to a variable
x = 5

print(x)  # Outputs: 5

# Assign a string value to the same variable
x = "Hello, Python!"

print(x)  # Outputs: Hello, Python!

# Assign a list to the same variable
x = [1, 2, 3]

print(x)  # Outputs: [1, 2, 3]

5
Hello, Python!
[1, 2, 3]

In [14]:
my_string = "Hello, world!"

print(type(my_string))

<class 'str'>

In [15]:
my_string = "Hello, world!"

type(my_string)

str

In [16]:
pi = 3.14

type(pi)

float

In [17]:
# Numbers
integer = 10
floating_point = 3.14
complex_number = 1j

# Strings
string = "Hello, world!"

# Booleans
boolean_true = True
boolean_false = False

# None
none_value = None

In [18]:
print(integer)

10

In [19]:
print(boolean_true)

True

In [20]:
print(none_value)

None

In [21]:
type(none_value)

NoneType

In [29]:
num_var_1 = 34.6
num_var_2 = 78

result = num_var_1 + num_var_2

print(result)

112.6

In [30]:
string_var_1 = "Howdy!"
string_var_2 = "Richard"

result = string_var_1 + " " + string_var_2

print(result)

Howdy! Richard

In [31]:
result = num_var_1 + string_var_2

print(result)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [32]:
result = string_var_1 + num_var_2

print(result)

TypeError: can only concatenate str (not "int") to str

In [33]:
result = string_var_1 + str(num_var_2)

print(result)

Howdy!78

In [22]:
# Ask the user for their name
name = input("What is your name? ")

# Ask the user for their city
city = input("What city do you live in? ")

# Greet the user
print(f"Hello, {name} from {city}! Nice to meet you!")

What is your name? Nora
What city do you live in? Paris
Hello, Nora from Paris! Nice to meet you!

In [24]:
name = "Wilson"
age = 23
distance = 4.5
statement = True

print(f"My name is {name}. I am {age} years old.")
print(f"I live {distance}kms from work")
print(f"The statements above are all {statement}")

My name is Wilson. I am 23 years old.
I live 4.5kms from work
The statements above are all True

In [35]:
# Request the user for two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Calculate the sum, difference, and product of the two numbers
sum = num1 + num2
difference = num1 - num2
product = num1 * num2

# Display the results
print("The sum of the two numbers is:", sum)
print("The difference of the two numbers is:", difference)
print("The product of the two numbers is:", product)

Enter the first number: 34
Enter the second number: r

ValueError: could not convert string to float: 'r'

In [36]:
# Current salary of the employee
salary = 50000  # Replace this with the actual salary

# Increment the salary by 10%
salary = salary * 1.10

# Now, the 'salary' variable contains the new salary with the 10% increase
print("New salary:", salary)

New salary: 55000.00000000001

In [38]:
salary = 50000

salary += 1000

print("New salary:", salary)

New salary: 51000

In [39]:
salary = 50000

salary -= 1000

print("New salary:", salary)

New salary: 49000

In [40]:
salary = 50000

salary *= 1.1

print("New salary:", salary)

New salary: 55000.00000000001

In [41]:
salary = 50000

salary /= 10

print("New salary:", salary)

New salary: 5000.0

In [42]:
single_quoted_string = 'This is a single-quoted string.'
double_quoted_string = "This is a double-quoted string."

# You can even include quotes inside a string of the other type
mixed_quoted_string = "He said, 'Hello world.'"

print(single_quoted_string)
print(double_quoted_string)
print(mixed_quoted_string)

This is a single-quoted string.
This is a double-quoted string.
He said, 'Hello world.'

In [43]:
double_quoted_string = "This is a double-quoted string with a \"word\" inside."

print(double_quoted_string)

This is a double-quoted string with a "word" inside.

In [44]:
double_quoted_string = 'This is a double-quoted string with a "word" inside.'

print(double_quoted_string)

This is a double-quoted string with a "word" inside.

In [47]:
very_long_string = "This is a very long string so
I want to specify it in two lines"

print(very_long_string)

SyntaxError: unterminated string literal (detected at line 1) (1962383709.py, line 1)

In [51]:
very_long_string = "This is a very long string so \
I want to specify it in two lines"

print(very_long_string)

This is a very long string so I want to specify it in two lines

In [52]:
very_long_string = """This is a very long string so 
I want to specify it in two lines"""

print(very_long_string)

This is a very long string so
I want to specify it in two lines

In [53]:
very_long_string

'This is a very long string so \nI want to specify it in two lines'

In [54]:
del very_long_string

In [55]:
very_long_string

NameError: name 'very_long_string' is not defined