In [1]:
my_dict = {}

my_dict

{}

In [2]:
employee_salaries = {
    "Ray": 34000,
    "Jacob": 35000,
    "Lisa": 40000,
    "Raj": 32000
}

employee_salaries

{'Ray': 34000, 'Jacob': 35000, 'Lisa': 40000, 'Raj': 32000}

In [3]:
employee_salaries["Lisa"]

40000

In [3]:
employee_salaries["Raj"]

32000

In [4]:
employee_salaries["Alice"]

KeyError: 'Alice'

In [4]:
employee_salaries["Raj"] = 50000

employee_salaries

{'Ray': 34000, 'Jacob': 35000, 'Lisa': 40000, 'Raj': 50000}

In [5]:
employee_salaries["Lisa"] *= 1.1

employee_salaries

{'Ray': 34000, 'Jacob': 35000, 'Lisa': 44000.0, 'Raj': 50000}

In [6]:
del employee_salaries["Jacob"]

employee_salaries

{'Ray': 34000, 'Lisa': 44000.0, 'Raj': 50000}

In [7]:
dictionary_with_int_keys = {1: "Mary", 2: "Roy", 3: "Ophelia"}

dictionary_with_int_keys

{1: 'Mary', 2: 'Roy', 3: 'Ophelia'}

In [8]:
dictionary_with_float_keys = {1.1: "Mary", 2.2: "Roy", 3.3: "Ophelia"}

dictionary_with_float_keys

{1.1: 'Mary', 2.2: 'Roy', 3.3: 'Ophelia'}

In [9]:
employee_salaries

{'Ray': 34000, 'Lisa': 44000.0, 'Raj': 50000}

In [10]:
employee_salaries.pop("Lisa")

employee_salaries

{'Ray': 34000, 'Raj': 50000}

In [11]:
employee_salaries.keys()

dict_keys(['Ray', 'Raj'])

In [12]:
employee_salaries.values()

dict_values([34000, 50000])

In [13]:
employee_salaries.items()

dict_items([('Ray', 34000), ('Raj', 50000)])

In [14]:
"Ray" in employee_salaries.keys()

True

In [15]:
34000 in employee_salaries.values()

True

In [16]:
('Jacob', 35000) in employee_salaries.items()

False

In [17]:
mixed_dict = {False: "Hello", 
              "Hi": [1, 2, 3], 
              "Good morning": True}

mixed_dict

{False: 'Hello', 'Hi': [1, 2, 3], 'Good morning': True}

In [18]:
mixed_dict[False]

'Hello'

In [19]:
mixed_dict["Hi"]

[1, 2, 3]

In [20]:
mixed_dict["Hi"][1]

2

In [21]:
calories = {}

calories

{}

In [22]:
calories["Burger"] = 500

calories["Fries"] = 200

calories["Shake"] = 400

In [23]:
calories

{'Burger': 500, 'Fries': 200, 'Shake': 400}

In [ ]:
# update a value
calories["Burger"] = 550

calories

{'Burger': 550, 'Fries': 200, 'Shake': 400}

In [25]:
updated_calories = {"Shake": 700, "Juice": 200}

updated_calories

{'Shake': 700, 'Juice': 200}

In [26]:
# update value
# OR add k-v pair
calories.update(updated_calories)

calories

{'Burger': 550, 'Fries': 200, 'Shake': 700, 'Juice': 200}

### Coding practice

- Create a dictionary with 3 of your friends' names as keys and their ages as values. 
- Access and print the age of one specific friend.
- Update one of your friend's ages to a new value

In [27]:
frens = {"a": 1,
         "b": 2,
         "c": 3}

frens

{'a': 1, 'b': 2, 'c': 3}

In [28]:
frens["a"]

1

In [29]:
frens["a"] = 10
frens

{'a': 10, 'b': 2, 'c': 3}

### Coding practice

- Create a dictionary with 3 countries and their capitals. 
- Add a new country and its capital to the dictionary.
- Remove one of the existing country-capital pairs

In [30]:
countries_n_capitals = {"sg": "sg",
                        "my": "kl",
                        "id": "jkt"}
countries_n_capitals

{'sg': 'sg', 'my': 'kl', 'id': 'jkt'}

In [31]:
countries_n_capitals["in"] = "nd"
countries_n_capitals

{'sg': 'sg', 'my': 'kl', 'id': 'jkt', 'in': 'nd'}

In [33]:
countries_n_capitals.pop("sg")

'sg'

In [34]:
countries_n_capitals

{'my': 'kl', 'id': 'jkt', 'in': 'nd'}

### Coding practice

- Create a dictionary with student names as keys and the values are a list of their scores in 3 different subjects (math, english, and science in this order)
- Print out the math score for one of the students
- Print ouf the science score for another one of the students

In [ ]:
# for each student key: [math, english, sci]
students = {"a": [10, 20, 30],
            "b": [20, 40, 60],
            "c": [30, 60, 90]}
students

{'a': [10, 20, 30], 'b': [20, 40, 60], 'c': [30, 60, 90]}

In [37]:
# student 'a' - math score
students["a"][0]

10

In [39]:
# student 'b' - sci score
students["b"][2], students["b"][-1]

(60, 60)