In [1]:
for letter in ['W','e', 'l', 'c', 'o', 'm', 'e']:
    print(letter)

W
e
l
c
o
m
e

In [2]:
for letter in "Welcome":
    print(letter)

W
e
l
c
o
m
e

In [3]:
var_string = "Welcome to New York"

for char in var_string:
    print(char)

W
e
l
c
o
m
e

t
o

N
e
w

Y
o
r
k

In [4]:
for digit in "20":
    print(digit)

2
0

In [5]:
for digit in 10:
    print(digit)

TypeError: 'int' object is not iterable

In [ ]:
# if you dont enclose with '[]' to create a list
# u create a python tuple
names = "Google", "Microsoft", "Amazon", "Skillsoft", "Apple"
type(names)

tuple

In [6]:
for company in "Google", "Microsoft", "Amazon", "Skillsoft", "Apple":
    print(company)

Google
Microsoft
Amazon
Skillsoft
Apple

In [7]:
cats = ("Snowshoe", "Calico", "British Shorthair", "Siamese", "Persian")

for cat in cats:
    print("It's a", cat)

It's a Snowshoe
It's a Calico
It's a British Shorthair
It's a Siamese
It's a Persian

In [8]:
cats = ["Snowshoe", "Calico", "British Shorthair", "Siamese", "Persian"]

for cat in cats:
    print("It's a", cat)

It's a Snowshoe
It's a Calico
It's a British Shorthair
It's a Siamese
It's a Persian

### Coding Practice

- Set up a list of names
- Iterate over the list and print out each name in uppercase

In [1]:
names = ["name1", "name2", "name3"]
[name.upper() for name in names]

['NAME1', 'NAME2', 'NAME3']

### Coding Practice

- Set up a list of names
- Iterate over the list and for every name print out the name and its length

In [5]:
names = ["name1", "name2", "name3"]
for name in names:
    print(f"Name '{name}' has {len(name)} characters")

Name 'name1' has 5 characters
Name 'name2' has 5 characters
Name 'name3' has 5 characters

### Continue

In [6]:
cat_weight = [("Snowshoe", 15),
              ("Siamese", 20),
              ("Persian", 12)]

for cat, weight in cat_weight:
    print("Cat is a %s and it weighs %s pounds" % (cat , weight))

Cat is a Snowshoe and it weighs 15 pounds
Cat is a Siamese and it weighs 20 pounds
Cat is a Persian and it weighs 12 pounds

In [11]:
for i, (cat, weight) in enumerate(cat_weight):
    print("Cat at index %d is a %s and it weighs %s pounds" % (i, cat , weight))

Cat at index 0 is a Snowshoe and it weighs 15 pounds
Cat at index 1 is a Siamese and it weighs 20 pounds
Cat at index 2 is a Persian and it weighs 12 pounds

In [12]:
price_history = [
    {"ticker": "AAPL", "close price": 148.00, "volume": 2000000, "date": "2019-02-18"},
    {"ticker": "AAPL", "close price": 149.00, "volume": 2000000, "date": "2019-02-19"},
    {"ticker": "AAPL", "close price": 150.00, "volume": 2000000, "date": "2019-02-20"}
]

In [13]:
for price_data in price_history:
    print(price_data)

{'ticker': 'AAPL', 'close price': 148.0, 'volume': 2000000, 'date': '2019-02-18'}
{'ticker': 'AAPL', 'close price': 149.0, 'volume': 2000000, 'date': '2019-02-19'}
{'ticker': 'AAPL', 'close price': 150.0, 'volume': 2000000, 'date': '2019-02-20'}

In [14]:
for price_data in price_history:
    if price_data['close price'] >= 149:
        print(price_data)

{'ticker': 'AAPL', 'close price': 149.0, 'volume': 2000000, 'date': '2019-02-19'}
{'ticker': 'AAPL', 'close price': 150.0, 'volume': 2000000, 'date': '2019-02-20'}

### Coding Practice

- Set up a list of dictionaries with names and ages
- Iterate over the list and print out the names of everyone who has age > 18

In [26]:
name_age = [{"name1": 10,
             "name2": 20},
            {"name3": 30,
             "name4": 40},
            {"name5": 50,
             "name6": 60}]

for i, name_and_age_dict in enumerate(name_age):
    name_and_age_list_of_tuples = name_and_age_dict.items()
    for (name, age) in name_and_age_list_of_tuples:
        if age>18:
            print(f"{name} is {age} years old")

name2 is 20 years old
name3 is 30 years old
name4 is 40 years old
name5 is 50 years old
name6 is 60 years old

In [25]:
for item in name_and_age_dict:
    print(item), print(type(item))

('name5', 50)
<class 'tuple'>
('name6', 60)
<class 'tuple'>

### Continue

In [1]:
game_scores = {'Tom': 9,
               'Alex': 6,
               'Nina': 8,
               'Alvin': 10}
game_scores

{'Tom': 9, 'Alex': 6, 'Nina': 8, 'Alvin': 10}

In [2]:
game_scores.keys()

dict_keys(['Tom', 'Alex', 'Nina', 'Alvin'])

In [3]:
game_scores.values()

dict_values([9, 6, 8, 10])

In [4]:
game_scores.items()

dict_items([('Tom', 9), ('Alex', 6), ('Nina', 8), ('Alvin', 10)])

In [5]:
for name in game_scores:
    print(name)

Tom
Alex
Nina
Alvin

In [6]:
for name in game_scores.keys():
    print(name)

Tom
Alex
Nina
Alvin

In [7]:
for score in game_scores.values():
    print(score)

9
6
8
10

In [8]:
for name, score in game_scores.items():
    print(name, score)

Tom 9
Alex 6
Nina 8
Alvin 10

### Coding Practice

- Set up a dictionary of ages and salaries
- Iterate over the dictionary items and print the names and salaries for each individual

In [24]:
characters = {"a", "b", "c", "d"}

for letter in characters:
    print(letter)
    
else:
    print("No more characters left")

c
a
d
b
No more characters left

In [25]:
years = [2016, 2017, 2018, 2019, 2020]

for year in years:
     
    if year % 4 == 0:

        print(year, "is a leap year")

    else:
        print(year, "is not a leap year")

2016 is a leap year
2017 is not a leap year
2018 is not a leap year
2019 is not a leap year
2020 is a leap year

In [26]:
names = [["Mary", "Linda", "Jessica"],
         ["James", "Jacob", "William"]]

for sublist in names:
    print(sublist)

['Mary', 'Linda', 'Jessica']
['James', 'Jacob', 'William']

In [27]:
for sublist in names:
    for name in sublist:
        print(name)

Mary
Linda
Jessica
James
Jacob
William

In [28]:
colors_list = ["Red", "Green", "Blue"]
objects_list = ["Pen", "Marker", "Pencil"]

for color in colors_list:
    for obj in objects_list:
        
        print(color, obj)

Red Pen
Red Marker
Red Pencil
Green Pen
Green Marker
Green Pencil
Blue Pen
Blue Marker
Blue Pencil

In [29]:
some_range = range(20)

some_range

range(0, 20)

In [30]:
type(range(20))

range

In [31]:
tuple(some_range)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [34]:
list(some_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [35]:
list(range(-5, +5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [36]:
for i in range(5):
    print(i)

0
1
2
3
4

In [37]:
for i in range(0, 30, 3): 
    print(i, end = " ")

0 3 6 9 12 15 18 21 24 27

In [39]:
for i in range(-15, +15, 4): 
    print(i, end = " ")

-15 -11 -7 -3 1 5 9 13

In [40]:
for my_num in range(1, 7):
    print(my_num, "cube is", my_num ** 3)

1 cube is 1
2 cube is 8
3 cube is 27
4 cube is 64
5 cube is 125
6 cube is 216

In [42]:
my_list = []

for i in range(5, 20):
    
    if (i % 2 or i % 4 == 0):
        my_list.append(i)
        
print(my_list)

[5, 7, 8, 9, 11, 12, 13, 15, 16, 17, 19]