In [1]:
import pandas as pd

In [2]:
sales_df = pd.read_csv('datasets/SaaS_Sales.csv')

sales_df = sales_df.drop(
    columns=['Row ID', 'Date Key', 'License'],
    axis = 1
)

sales_df.head().T

,0,1,2,3,4
Order ID,EMEA-2022-152156,EMEA-2022-152156,AMER-2022-138688,EMEA-2021-108966,EMEA-2021-108966
Order Date,11/9/2022,11/9/2022,6/13/2022,10/11/2021,10/11/2021
Contact Name,Nathan Bell,Nathan Bell,Deirdre Bailey,Zoe Hodges,Zoe Hodges
Country,Ireland,Ireland,United States,Germany,Germany
City,Dublin,Dublin,New York City,Stuttgart,Stuttgart
Region,EMEA,EMEA,AMER,EMEA,EMEA
Subregion,UKIR,UKIR,NAMER,EU-WEST,EU-WEST
Customer,Chevron,Chevron,Phillips 66,Royal Dutch Shell,Royal Dutch Shell
Customer ID,1017,1017,1056,1031,1031
Industry,Energy,Energy,Energy,Energy,Energy
Segment,SMB,SMB,Strategic,SMB,SMB
Product,Marketing Suite,FinanceHub,FinanceHub,ContactMatcher,Marketing Suite - Gold
Sales,261.96,731.94,14.62,957.5775,22.368
Quantity,2,3,2,5,2
Discount,0.0,0.0,0.0,0.45,0.2
Profit,41.9136,219.582,6.8714,-383.031,2.5164

In [3]:
sales_df.index = sales_df['Order ID']

sales_df = sales_df.drop(
    columns=['Order ID'],
    axis = 1
)

sales_df.head().T

Order ID,EMEA-2022-152156,EMEA-2022-152156,AMER-2022-138688,EMEA-2021-108966,EMEA-2021-108966
Order Date,11/9/2022,11/9/2022,6/13/2022,10/11/2021,10/11/2021
Contact Name,Nathan Bell,Nathan Bell,Deirdre Bailey,Zoe Hodges,Zoe Hodges
Country,Ireland,Ireland,United States,Germany,Germany
City,Dublin,Dublin,New York City,Stuttgart,Stuttgart
Region,EMEA,EMEA,AMER,EMEA,EMEA
Subregion,UKIR,UKIR,NAMER,EU-WEST,EU-WEST
Customer,Chevron,Chevron,Phillips 66,Royal Dutch Shell,Royal Dutch Shell
Customer ID,1017,1017,1056,1031,1031
Industry,Energy,Energy,Energy,Energy,Energy
Segment,SMB,SMB,Strategic,SMB,SMB
Product,Marketing Suite,FinanceHub,FinanceHub,ContactMatcher,Marketing Suite - Gold
Sales,261.96,731.94,14.62,957.5775,22.368
Quantity,2,3,2,5,2
Discount,0.0,0.0,0.0,0.45,0.2
Profit,41.9136,219.582,6.8714,-383.031,2.5164

In [4]:
sales_df['Order Date'] = pd.to_datetime(sales_df['Order Date'])

sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9994 entries, EMEA-2022-152156 to AMER-2023-119914
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    9994 non-null   datetime64[ns]
 1   Contact Name  9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   Region        9994 non-null   object
 5   Subregion     9994 non-null   object
 6   Customer      9994 non-null   object
 7   Customer ID   9994 non-null   int64
 8   Industry      9994 non-null   object
 9   Segment       9994 non-null   object
 10  Product       9994 non-null   object
 11  Sales         9994 non-null   float64
 12  Quantity      9994 non-null   int64
 13  Discount      9994 non-null   float64
 14  Profit        9994 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(9)
memory usage: 1.2+ MB

In [5]:
sales_df_filtered = sales_df.filter(like='Customer')

sales_df_filtered.head()

                           Customer  Customer ID
Order ID
EMEA-2022-152156            Chevron         1017
EMEA-2022-152156            Chevron         1017
AMER-2022-138688        Phillips 66         1056
EMEA-2021-108966  Royal Dutch Shell         1031
EMEA-2021-108966  Royal Dutch Shell         1031

In [6]:
sales_df_filtered = sales_df.filter(items=['Product', 'Sales'])

sales_df_filtered.head()

                                 Product     Sales
Order ID
EMEA-2022-152156         Marketing Suite  261.9600
EMEA-2022-152156              FinanceHub  731.9400
AMER-2022-138688              FinanceHub   14.6200
EMEA-2021-108966          ContactMatcher  957.5775
EMEA-2021-108966  Marketing Suite - Gold   22.3680

In [20]:
sales_df_filtered = sales_df.filter(like='AMER', axis = 0)

sales_df_filtered.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.620,2,0.0,6.8714
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,SaaS Connector Pack,48.860,7,0.0,14.1694
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ChatBot Plugin,7.280,4,0.0,1.9656
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,Site Analytics,907.152,6,0.2,90.7152
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ContactMatcher,18.504,3,0.2,5.7825

In [7]:
sales_df_filtered = sales_df.filter(like='2021', axis = 0)

sales_df_filtered.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,957.5775,5,0.45,-383.0310
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.3680,2,0.20,2.5164
APJ-2021-118983,2021-11-22,Emily Morrison,Japan,Saitama,APJ,JAPN,Pfizer,1074,Healthcare,Enterprise,OneView,68.8100,5,0.80,-123.8580
APJ-2021-118983,2021-11-22,Emily Morrison,Japan,Saitama,APJ,JAPN,Pfizer,1074,Healthcare,Enterprise,ContactMatcher,2.5440,3,0.80,-3.8160
EMEA-2021-106320,2021-09-25,Jonathan Ferguson,Turkey,Istanbul,EMEA,MEA,McKesson,1063,Consumer Products,SMB,ContactMatcher,1044.6300,3,0.00,240.2649

### Filtering using predicates

In [8]:
sales_df.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,261.9600,2,0.00,41.9136
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,731.9400,3,0.00,219.5820
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.6200,2,0.00,6.8714
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,957.5775,5,0.45,-383.0310
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.3680,2,0.20,2.5164

In [9]:
predicate = sales_df['Country'] == 'Germany'

predicate

Order ID
EMEA-2022-152156    False
EMEA-2022-152156    False
AMER-2022-138688    False
EMEA-2021-108966     True
EMEA-2021-108966     True
                    ...
EMEA-2020-110422     True
AMER-2023-121258    False
AMER-2023-121258    False
AMER-2023-121258    False
AMER-2023-119914    False
Name: Country, Length: 9994, dtype: bool

In [10]:
sales_df[predicate].sample(5)

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2020-131541,2020-07-28,Evan Ince,Germany,Cologne,EMEA,EU-WEST,Banco Santander,1101,Finance,SMB,SaaS Connector Pack,129.888,6,0.2,12.9888
EMEA-2022-160486,2022-12-31,Keith Morrison,Germany,Cologne,EMEA,EU-WEST,Aetna,1002,Healthcare,SMB,Support,72.224,4,0.2,25.2784
EMEA-2023-103065,2023-10-21,Matt Berry,Germany,Berlin,EMEA,EU-WEST,Berkshire Hathaway,1012,Finance,SMB,ChatBot Plugin,4.448,2,0.2,1.1120
EMEA-2022-138695,2022-05-29,Felicity Henderson,Germany,Munich,EMEA,EU-WEST,Bank of America Corp.,1011,Finance,Strategic,Support,62.192,13,0.2,19.4350
EMEA-2020-169257,2020-06-06,Alexander Hill,Germany,Berlin,EMEA,EU-WEST,Philip Morris International,1075,Consumer Products,SMB,Support,62.016,2,0.2,22.4808

In [11]:
india_sales = sales_df[sales_df['Country'] == 'India']

india_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
APJ-2021-115742,2021-04-18,Brian Dickens,India,Kolkata,APJ,IND,Siemens,1043,Manufacturing,SMB,ContactMatcher,38.22,6,0.0,17.9634
APJ-2021-115742,2021-04-18,Brian Dickens,India,Kolkata,APJ,IND,Siemens,1043,Manufacturing,SMB,FinanceHub,75.18,6,0.0,35.3346
APJ-2021-115742,2021-04-18,Brian Dickens,India,Kolkata,APJ,IND,Siemens,1043,Manufacturing,SMB,SaaS Connector Pack,6.16,2,0.0,2.9568
APJ-2021-115742,2021-04-18,Brian Dickens,India,Kolkata,APJ,IND,Siemens,1043,Manufacturing,SMB,FinanceHub,89.99,1,0.0,17.0981
APJ-2023-154214,2023-03-21,Owen Ferguson,India,Mumbai,APJ,IND,Nissan Motor,1098,Transportation,SMB,SaaS Connector Pack,2.91,1,0.0,1.3677

In [12]:
filtered_sales = sales_df[sales_df['Country'].isin(['India', 'Japan', 'Spain'])]

filtered_sales.sample(5)

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
APJ-2022-128531,2022-11-25,Frank Piper,Japan,Aichi,APJ,JAPN,AmerisourceBergen,1007,Healthcare,SMB,Storage,4.344,3,0.2,0.8688
APJ-2022-169971,2022-09-05,Joe Lee,Japan,Tokyo,APJ,JAPN,Allianz,1080,Finance,SMB,ChatBot Plugin,3.912,1,0.2,1.0269
APJ-2023-121216,2023-12-24,Faith Robertson,Japan,Sapporo,APJ,JAPN,Anthem,1029,Healthcare,SMB,OneView,29.312,8,0.8,-74.7456
APJ-2020-104738,2020-12-30,Lisa Lee,Japan,Kanagawa,APJ,JAPN,Boeing,1014,Manufacturing,Strategic,SaaS Connector Pack - Gold,12.984,3,0.2,4.7067
APJ-2020-120775,2020-10-03,Dominic Burgess,Japan,Aichi,APJ,JAPN,Petrobras,1018,Energy,SMB,ContactMatcher,1.788,3,0.8,-3.0396

In [13]:
filtered_sales = sales_df.query('Country in ["India", "Japan", "Spain"]')

filtered_sales.sample(5)

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
APJ-2021-149692,2021-12-06,Wanda Simpson,Japan,Chiba,APJ,JAPN,Marathon Petroleum,1061,Energy,SMB,ContactMatcher,2.772,7,0.8,-4.8510
APJ-2021-162621,2021-09-05,Zoe Bond,Japan,Tokyo,APJ,JAPN,Walt Disney,1097,Communications,Enterprise,ContactMatcher,4.470,3,0.8,-7.8225
APJ-2023-106068,2023-10-24,Ella Thomson,Japan,Chiba,APJ,JAPN,McKesson,1063,Consumer Products,SMB,Data Smasher,55.200,1,0.2,-2.0700
APJ-2023-149048,2023-05-14,Peter Ellison,India,Delhi,APJ,IND,Volkswagen,1046,Manufacturing,Strategic,ContactMatcher,914.970,3,0.0,411.7365
APJ-2023-106068,2023-10-24,Ella Thomson,Japan,Chiba,APJ,JAPN,McKesson,1063,Consumer Products,SMB,ContactMatcher,9.762,3,0.8,-15.1311

In [15]:
filtered_sales = sales_df[sales_df['Segment'].isin(['SMB', 'Strategic'])]

filtered_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,261.9600,2,0.00,41.9136
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,731.9400,3,0.00,219.5820
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.6200,2,0.00,6.8714
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,957.5775,5,0.45,-383.0310
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.3680,2,0.20,2.5164

In [16]:
filtered_sales = sales_df.query('Segment in ["SMB", "Strategic"]')

filtered_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,261.9600,2,0.00,41.9136
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,731.9400,3,0.00,219.5820
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.6200,2,0.00,6.8714
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,957.5775,5,0.45,-383.0310
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.3680,2,0.20,2.5164

In [17]:
filtered_sales = sales_df[~sales_df['Segment'].isin(['SMB', 'Strategic'])]

filtered_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
APJ-2021-118983,2021-11-22,Emily Morrison,Japan,Saitama,APJ,JAPN,Pfizer,1074,Healthcare,Enterprise,OneView,68.8100,5,0.80,-123.8580
APJ-2021-118983,2021-11-22,Emily Morrison,Japan,Saitama,APJ,JAPN,Pfizer,1074,Healthcare,Enterprise,ContactMatcher,2.5440,3,0.80,-3.8160
APJ-2023-107727,2023-10-20,Amelia Campbell,Japan,Tokyo,APJ,JAPN,Glencore,1083,Misc,Enterprise,Support,29.4720,3,0.20,9.9468
APJ-2021-117415,2021-12-27,Jasmine Metcalfe,Japan,Tokyo,APJ,JAPN,Banco Santander,1101,Finance,Enterprise,SaaS Connector Pack - Gold,113.3280,9,0.20,35.4150
APJ-2021-117415,2021-12-27,Jasmine Metcalfe,Japan,Tokyo,APJ,JAPN,Banco Santander,1101,Finance,Enterprise,Marketing Suite,532.3992,3,0.32,-46.9764

In [18]:
filtered_sales = sales_df.query('Segment not in ["SMB", "Strategic"]')

filtered_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
APJ-2021-118983,2021-11-22,Emily Morrison,Japan,Saitama,APJ,JAPN,Pfizer,1074,Healthcare,Enterprise,OneView,68.8100,5,0.80,-123.8580
APJ-2021-118983,2021-11-22,Emily Morrison,Japan,Saitama,APJ,JAPN,Pfizer,1074,Healthcare,Enterprise,ContactMatcher,2.5440,3,0.80,-3.8160
APJ-2023-107727,2023-10-20,Amelia Campbell,Japan,Tokyo,APJ,JAPN,Glencore,1083,Misc,Enterprise,Support,29.4720,3,0.20,9.9468
APJ-2021-117415,2021-12-27,Jasmine Metcalfe,Japan,Tokyo,APJ,JAPN,Banco Santander,1101,Finance,Enterprise,SaaS Connector Pack - Gold,113.3280,9,0.20,35.4150
APJ-2021-117415,2021-12-27,Jasmine Metcalfe,Japan,Tokyo,APJ,JAPN,Banco Santander,1101,Finance,Enterprise,Marketing Suite,532.3992,3,0.32,-46.9764

In [19]:
profitable_sales = sales_df[sales_df['Profit'] > 0]

profitable_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,261.960,2,0.0,41.9136
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,731.940,3,0.0,219.5820
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.620,2,0.0,6.8714
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.368,2,0.2,2.5164
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,SaaS Connector Pack,48.860,7,0.0,14.1694

In [20]:
profitable_sales = sales_df.query('Profit > 0')

profitable_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,261.960,2,0.0,41.9136
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,731.940,3,0.0,219.5820
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.620,2,0.0,6.8714
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.368,2,0.2,2.5164
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,SaaS Connector Pack,48.860,7,0.0,14.1694

In [21]:
average_discount = sales_df['Discount'].mean()

discounted_sales = sales_df[sales_df['Discount'] > average_discount]

print('Average discount: ', average_discount)

discounted_sales.head()

Average discount:  0.15620272163297977

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,957.5775,5,0.45,-383.0310
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.3680,2,0.20,2.5164
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,Site Analytics,907.1520,6,0.20,90.7152
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ContactMatcher,18.5040,3,0.20,5.7825
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ContactMatcher,1706.1840,9,0.20,85.3092

In [22]:
# Calculate average discount
average_discount = sales_df['Discount'].mean()

# Filter all records where discount was greater than the average discount
filtered_sales = sales_df.query('Discount > @average_discount')

filtered_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,957.5775,5,0.45,-383.0310
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.3680,2,0.20,2.5164
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,Site Analytics,907.1520,6,0.20,90.7152
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ContactMatcher,18.5040,3,0.20,5.7825
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ContactMatcher,1706.1840,9,0.20,85.3092

In [23]:
profitable_sales = sales_df[(sales_df['Profit'] > 0) & (sales_df['Discount'] == 0)]

profitable_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,261.96,2,0.0,41.9136
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,731.94,3,0.0,219.5820
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.62,2,0.0,6.8714
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,SaaS Connector Pack,48.86,7,0.0,14.1694
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ChatBot Plugin,7.28,4,0.0,1.9656

In [24]:
filtered_sales = sales_df.query('Profit > 0 and Discount == 0')

filtered_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,261.96,2,0.0,41.9136
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,731.94,3,0.0,219.5820
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.62,2,0.0,6.8714
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,SaaS Connector Pack,48.86,7,0.0,14.1694
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ChatBot Plugin,7.28,4,0.0,1.9656

In [25]:
# Calculate average sales
average_sales = sales_df['Sales'].mean()

# Filter all records which are profitable and where sales was greater than the average sales
profitable_sales = sales_df[(sales_df['Profit'] > 0) & (sales_df['Sales'] > average_sales)]

print('Average sales: ', average_sales)

profitable_sales.head()

Average sales:  229.85800083049833

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,261.960,2,0.0,41.9136
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,731.940,3,0.0,219.5820
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,Site Analytics,907.152,6,0.2,90.7152
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ContactMatcher,1706.184,9,0.2,85.3092
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,Site Analytics,911.424,4,0.2,68.3568

In [26]:
# Calculate average sales
average_sales = sales_df['Sales'].mean()

# Filter all records which are profitable and where sales was greater than the average sales
filtered_sales = sales_df.query('Profit > 0 and Sales > @average_sales')

filtered_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,261.960,2,0.0,41.9136
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,731.940,3,0.0,219.5820
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,Site Analytics,907.152,6,0.2,90.7152
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ContactMatcher,1706.184,9,0.2,85.3092
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,Site Analytics,911.424,4,0.2,68.3568

In [27]:
# Calculate average sales
average_sales = sales_df['Sales'].mean()

# Filter all records which are profitable or where sales was greater than the average sales
profitable_sales = sales_df[(sales_df['Profit'] > 0) | (sales_df['Sales'] > average_sales)]

print('Average sales: ', average_sales)

profitable_sales.head()

Average sales:  229.85800083049833

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,261.9600,2,0.00,41.9136
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,731.9400,3,0.00,219.5820
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.6200,2,0.00,6.8714
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,957.5775,5,0.45,-383.0310
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.3680,2,0.20,2.5164

In [28]:
# Calculate average sales
average_sales = sales_df['Sales'].mean()

# Filter all records which are profitable and where sales was greater than the average sales
filtered_sales = sales_df.query('Profit > 0 or Sales > @average_sales')

filtered_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,261.9600,2,0.00,41.9136
EMEA-2022-152156,2022-11-09,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,731.9400,3,0.00,219.5820
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.6200,2,0.00,6.8714
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,957.5775,5,0.45,-383.0310
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.3680,2,0.20,2.5164

In [29]:
# Filter all records where the region is 'AMER' or the the customer is 'Royal Dutch Shell'
filtered_sales = sales_df[(sales_df['Region'] == 'AMER') | (sales_df['Customer'] == 'Royal Dutch Shell')]

filtered_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.6200,2,0.00,6.8714
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,957.5775,5,0.45,-383.0310
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.3680,2,0.20,2.5164
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,SaaS Connector Pack,48.8600,7,0.00,14.1694
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ChatBot Plugin,7.2800,4,0.00,1.9656

In [30]:
filtered_sales = sales_df.query('Region == "AMER" or Customer == "Royal Dutch Shell"')

filtered_sales.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
AMER-2022-138688,2022-06-13,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,14.6200,2,0.00,6.8714
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,957.5775,5,0.45,-383.0310
EMEA-2021-108966,2021-10-11,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,22.3680,2,0.20,2.5164
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,SaaS Connector Pack,48.8600,7,0.00,14.1694
AMER-2020-115812,2020-06-09,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ChatBot Plugin,7.2800,4,0.00,1.9656

In [31]:
sales_df.sort_values('Order Date', ascending=True, inplace=True)

sales_df.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
APJ-2020-103800,2020-01-04,Brian Dickens,Japan,Tokyo,APJ,JAPN,Siemens,1043,Manufacturing,SMB,Support,16.448,2,0.2,5.5512
APJ-2020-112326,2020-01-05,Liam Churchill,Australia,Wollongong,APJ,ANZ,CVS Health,1026,Retail,Enterprise,FinanceHub,11.784,3,0.2,4.2717
APJ-2020-112326,2020-01-05,Liam Churchill,Australia,Wollongong,APJ,ANZ,CVS Health,1026,Retail,Enterprise,Marketing Suite - Gold,272.736,3,0.2,-64.7748
APJ-2020-112326,2020-01-05,Liam Churchill,Australia,Wollongong,APJ,ANZ,CVS Health,1026,Retail,Enterprise,ContactMatcher,3.540,2,0.8,-5.4870
EMEA-2020-141817,2020-01-06,Ella Springer,France,Paris,EMEA,EU-WEST,Mitsubishi,1050,Manufacturing,SMB,ChatBot Plugin,19.536,3,0.2,4.8840

In [32]:
start_date = pd.to_datetime('01-08-2021', format='%d-%m-%Y')

end_date = pd.to_datetime('31-08-2021', format='%d-%m-%Y')

In [33]:
start_date, end_date

(Timestamp('2021-08-01 00:00:00'), Timestamp('2021-08-31 00:00:00'))

In [34]:
sales_aug2021 = sales_df.loc[(sales_df['Order Date'] >= start_date) & (sales_df['Order Date'] <= end_date)]

sales_aug2021.head()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
AMER-2021-153388,2021-08-01,Ella Hart,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,Enterprise,ChatBot Plugin,6.720,4,0.0,3.3600
AMER-2021-153388,2021-08-01,Ella Hart,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,Enterprise,ContactMatcher,1004.976,6,0.2,-175.8708
AMER-2021-147501,2021-08-02,Brian Hunter,Canada,Toronto,AMER,NAMER,Walt Disney,1097,Communications,SMB,Big Ol Database,558.400,2,0.2,41.8800
EMEA-2021-122406,2021-08-02,Edward Hardacre,Norway,Oslo,EMEA,NOR,Trafigura Group,1100,Finance,Enterprise,Support,8.400,2,0.0,4.1160
EMEA-2021-122406,2021-08-02,Edward Hardacre,Norway,Oslo,EMEA,NOR,Trafigura Group,1100,Finance,Enterprise,Data Smasher,199.980,2,0.0,83.9916

In [35]:
sales_aug2021.tail()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
AMER-2021-111514,2021-08-31,Emma Stewart,United States,Los Angeles,AMER,NAMER,Marathon Petroleum,1061,Energy,Strategic,Big Ol Database,239.976,3,0.2,80.9919
AMER-2021-111514,2021-08-31,Emma Stewart,United States,Los Angeles,AMER,NAMER,Marathon Petroleum,1061,Energy,Strategic,Data Smasher,36.510,1,0.0,15.6993
AMER-2021-112319,2021-08-31,Jane Pullman,United States,New York City,AMER,NAMER,PepsiCo,1073,Consumer Products,SMB,Support,58.320,9,0.0,27.9936
AMER-2021-157805,2021-08-31,Max Skinner,United States,Seattle,AMER,NAMER,Bank of America Corp.,1011,Finance,Enterprise,Site Analytics,555.960,5,0.2,41.6970
APJ-2021-142139,2021-08-31,Victoria Nash,Japan,Ibaraki,APJ,JAPN,BMW,1039,Manufacturing,Enterprise,Support,20.960,4,0.2,6.8120

In [37]:
sales_2023.tail()

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2023-156720,2023-12-31,Max Morgan,Russia,Moscow,EMEA,EU-EAST,Tyson Foods,1088,Consumer Products,SMB,Storage,3.024,3,0.2,-0.6048
EMEA-2023-143259,2023-12-31,Katherine Dowd,United Kingdom,London,EMEA,UKIR,Morgan Stanley,1068,Finance,SMB,ContactMatcher,52.776,3,0.2,19.7910
EMEA-2023-143259,2023-12-31,Katherine Dowd,United Kingdom,London,EMEA,UKIR,Morgan Stanley,1068,Finance,SMB,Site Analytics,90.930,7,0.0,2.7279
AMER-2023-115427,2023-12-31,Justin Walker,United States,Columbia,AMER,NAMER,Aviva,1006,Finance,Strategic,ContactMatcher,13.904,2,0.2,4.5188
EMEA-2023-143259,2023-12-31,Katherine Dowd,United Kingdom,London,EMEA,UKIR,Morgan Stanley,1068,Finance,SMB,Marketing Suite,323.136,4,0.2,12.1176

In [38]:
john_sales = sales_df[sales_df['Contact Name'].str.contains('John', case=False)]

john_sales.sample(5)

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2022-116400,2022-10-23,John Jones,Spain,Murcia,EMEA,EU-WEST,Panasonic,1091,Tech,SMB,SaaS Connector Pack,39.920,4,0.0,11.1776
EMEA-2022-102162,2022-09-12,John Dyer,Spain,Granada,EMEA,EU-WEST,BMW,1039,Manufacturing,SMB,SaaS Connector Pack - Gold,11.090,1,0.0,5.4341
AMER-2020-156587,2020-03-07,Ryan Johnston,Canada,Toronto,AMER,NAMER,Allstate,1003,Finance,SMB,Marketing Suite - Gold,242.940,3,0.0,4.8588
EMEA-2020-152254,2020-06-30,John MacDonald,Sweden,Stockholm,EMEA,NOR,Samsung Electronics,1015,Tech,SMB,Support,310.688,7,0.2,108.7408
EMEA-2022-111976,2022-03-09,John MacDonald,France,Paris,EMEA,EU-WEST,Samsung Electronics,1015,Tech,SMB,Site Analytics,108.576,4,0.4,-25.3344

In [39]:
morgan_sales = sales_df[sales_df['Customer'].str.contains('morgan', case=False)]

morgan_sales.sample(5)

,Order Date,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,
EMEA-2020-128839,2020-09-08,Joanne Carr,Spain,Valencia,EMEA,EU-WEST,J.P. Morgan Chase & Co.,1054,Finance,SMB,Storage,45.000,9,0.0,21.6000
AMER-2023-147354,2023-03-10,Edward Oliver,United States,New York City,AMER,NAMER,Morgan Stanley,1068,Finance,SMB,ContactMatcher,30.840,5,0.2,9.6375
EMEA-2023-108553,2023-04-24,Samantha Lawrence,United Kingdom,London,EMEA,UKIR,J.P. Morgan Chase & Co.,1054,Finance,SMB,Support,122.710,7,0.0,36.8130
AMER-2020-106376,2020-12-05,Leah Clarkson,Chile,Puente Alto,AMER,LATAM,Morgan Stanley,1068,Finance,Strategic,ChatBot Plugin,1113.024,8,0.2,111.3024
EMEA-2021-109001,2021-03-05,Brandon Kerr,France,Paris,EMEA,EU-WEST,J.P. Morgan Chase & Co.,1054,Finance,Strategic,ContactMatcher,2.556,3,0.7,-1.7892